<!-- <button
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#gameStartModal"
>
  Crear partida
</button> -->

<div class="container" >
  <form class="game-form">
      <label for="game-name" class="game-name">Nombra la partida</label>
      <app-input placeholder="sprint32" />
      <button data-bs-toggle="modal"
      data-bs-target="#gameStartModal" type="submit">Crear partida</button>
  </form>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="gameStartModal"
  tabindex="-1"
  aria-labelledby="gameStartModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Tu formulario como componente -->
        <app-form (submitForm)="onFormSubmit($event)"></app-form>
      </div>
    </div>
  </div>
</div>

