$primary-color: #BB65FF;
$secondary-color: #330072;;
.invite-button {
  background-color: transparent;
  color: #FFFF;
  padding: 10px 16px;
  border: 2px solid #FFFF;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 14px;

  &:hover {
    background-color: $primary-color;
    color: $secondary-color;
  }

  &:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
  }
}
