.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  color: #FFFF;

  &__logo img {
    width: 50px;
  }
  &__logo{
    padding-left: 50px;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 27px;
  }
}
